<div>
    {% for c in categories %}
        <div class="well2" style="padding: 0px; margin-bottom: 0px; min-height: 30px;">
            <a style="padding-right: {{ base }}5px; font-weight: bold;" href="{% url 'tutorial:category' c.name %}">
                {{ c.local_name }}

            </a>
        </div>
        {% if not no_category %}
            {% with base=1 categories=c.sub_categories.all template_name="_category_list.html" %}
                {% include template_name %}
            {% endwith %}
        {% endif %}
        {% if not  no_detail %}
            <div class="category">
                {% for t in c.tutorials.all %}
                    <div style="border: solid 1px #DDDDDD; padding-bottom: 1px;"
                         class="{% if t.name == tutorial.name %}active{% endif %}">
                        <a style="padding-right: 15px;"
                           href="{% url 'tutorial:tutorial' t.name %}"> {{ t.local_name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>