{% extends 'base.html' %}
{% block keywords %}{% for c in t_category.sub_categories.all %}آموزش
    {{ c.local_name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% load staticfiles %}
{% block title %}
    {{ category.local_name }}
{% endblock %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">

        <div class="col-xs-2"
             style="margin-right: 50px;margin-left: 20px; background-color:#ffffff; border: solid 2px #CCCCCC; padding: 0px;">
            <h4 style="font-weight: bold; font-family: Yekan;">
                گروه های آموزشی
            </h4>

            <span >{% include '_category_list.html' with categories=category.sub_categories.all %}</span>
            <br>

            {% include '_category_list.html' with categories=t_categories no_detail='True' %}

        </div>
        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">

            <div class="well">


                <div class="row">
                    <div class="col-xs-9">
                        <h1 style="font-family:Yekan;font-weight: bold;">
                           {{ t_category.local_name }}
                        </h1>
                        {{ t_category.description | safe }}

                    </div>
                    <div class="col-xs-2 pull-left" style="text-align: left;">
                        <img class="img-thumbnail img-rounded" src="{% static t_category.img_address %}"/>
                    </div>
                </div>
            </div>

            {% for c in t_category.sub_categories.all %}
                <div class="well">
                    <div class="row">
                        <div class="col-xs-11">
                            <a href="{% url 'tutorial:category' c.name %}"> {{ c.local_name }}</a>
                            <hr/>
                            {{ c.description | safe }}
                        </div>
                        <div class="col-xs-1 pull-left" style="text-align: left;">
                            <img style="width:64px;" class="img-responsive img-thumbnail img-rounded"
                                 src="{% static c.img_address %}"/>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for t in t_category.tutorials.all %}
                <div class="well">
                    <div class="row">
                        <div class="col-xs-11">
                            <a href="{% url 'tutorial:tutorial' t.name %}"> {{ t.local_name }}</a>
                            <hr/>
                            {{ t.abstract | safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}