{% extends 'base.html' %}
{% block keywords %}{% for c in t_category.sub_categories.all %}آموزش {{ c.local_name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% load staticfiles %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">

        <div class="col-xs-2"
             style="margin-right: 50px;margin-left: 20px; background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">
            <h4 style="font-weight: bold; font-family: Yekan;">
                گروه های آموزشی
            </h4>

            {% include '_category_list.html' with categories=t_category.sub_categories.all %}

        </div>
        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">

            <div class="well">


                <div class="row">
                    <div class="col-xs-9">
                        <h1>
                            آموزش برنامه نویسی
                        </h1>
                        شرح گوره انتخلب شده در اینجا میلددرت اگه ذثساث

                    </div>
                    <div class="col-xs-2 pull-left" style="text-align: left;">
                        <img class="img-thumbnail img-rounded" src="{% static 'image/techs/java.png' %}"/>
                    </div>
                </div>
            </div>

            <p>
                بت اتب هخثب بث تهخبث لتق خهتل لخهقت قلت قهخل تر ره قترقهختقهتق تلقخهت هخلت لتق هختهخ تهخقلت هختقه تهخ
                تذهخثتق هختثقهخ تهخفذت هخذت هخذت
            </p>

            <p>
                تبهثخت لتهقخلت ثفهت هخفات هختا هتفاهت قهخت هخت هیتقیهخ ذتهثخق تذقثهخت هقخذتهخ ثقتهخق تلهخت ثقهخقهخت
            </p>

            <p>
                تبهثخت لتهقخلت ثفهت هخفات هختا هتفاهت قهخت هخت هیتقیهخ ذتهثخق تذقثهخت هقخذتهخ ثقتهخق تلهخت ثقهخقهخت
            </p>

            <p>
                تبهثخت لتهقخلت ثفهت هخفات هختا هتفاهت قهخت هخت هیتقیهخ ذتهثخق تذقثهخت هقخذتهخ ثقتهخق تلهخت ثقهخقهخت
            </p>
        </div>
    </div>
{% endblock %}