{% extends 'base.html' %}
{% block keywords %}{% for c in t_categories %}آموزش
    {{ c.local_name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% load staticfiles %}
{% block title %}آموزش آزما وب
{% endblock %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">

        <div class="col-xs-2"
             style="margin-right: 50px;margin-left: 20px;padding: 0px;">

            <div style=" background-color: lightslategray; border: solid 2px #CCCCCC; ">
                <h4 style="font-weight: bold; font-family: Yekan;">
                    گروه های آموزشی
                </h4>
                {% include '_category_list.html' with categories=t_categories no_detail='True' %}
            </div>
            <br/>

            <div style=" background-color:lightslategray; border: solid 2px #CCCCCC; ">
                <h4 style="font-weight: bold; font-family: Yekan;">
                    آخرین آموزشها
                </h4>
                {% include '_tutorial_list.html' with tutorials=latest_tutorials %}
            </div>

        </div>
        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">
            <div class="well1">
                <div class="row">
                    <div class="col-xs-9">
                        <h1 style="font-family:Yekan;font-weight: bold;">آموزش های آزما وبی</h1>
                        آزما وب تلاش می کند تا با ایجاد مطالب آموزشی کاربردی و با کیفیت دانش مهندسین نرم افزار ایران را
                        ارتقا دهد.
                        در این بخش آموزش ها در گروه مختلف ارایه می شود که شما با توجه به علاقه و نیازهای خود می توانید
                        از آنها استفاد کنید.

                    </div>
                </div>
            </div>

            {% for c in t_categories %}
                <div class="well1">
                    <div class="row">
                        <div class="col-xs-11">
                            <h4 style="font-weight: bold;"><a href="{% url 'tutorial:category' c.name %}"> {{ c.local_name }}</a></h4>

                            <hr/>
                            {{ c.description | safe }}
                        </div>
                        <div class="col-xs-1 pull-left" style="text-align: left;">
                            <img style="width:64px; border: outset #008AEA" class="img-responsive img-thumbnail img-rounded"
                                 src="{% static c.img_address %}"/>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}