{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}آزمون {{ exam }}{% endblock %}

{% block css %}
    <link href="{% static "UI/checkbox/input.checkbox.css" %}" rel="stylesheet">
    <link href="{% static "UI/radiobutton/input.radiobutton.css" %}" rel="stylesheet">
    <link href="{% static "UI/img/img.css" %}" rel="stylesheet">
    <link href="{% static 'UI/codeHolder/codeHolder.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <h1>حالا با این چندتا سوال خودتو محک بزن</h1>
        </div>
        <div class="col-xs-3">
            <h3 class="pull-left">
                <a href="{% url 'tutorial:tutorial' exam.name %}">
                    بازگشت به آموزش
                </a>
            </h3>
        </div>

    </div>
    <hr style="padding-bottom: 20px;">
    {% if answer.score != exam.max_score %}

        <form method="post" action="{% url 'tutorial:tutorial_exam_analyze' exam.tutorial.name %}">

            {% if answer.score != exam.max_score %}
                {% csrf_token %}
            {% endif %}

            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-9  table-bordered"
                     style="padding-bottom: 20px;padding-top: 20px;float:left;font-size: 17px; background-color: rgba(0,0,0,0.4)">
                    {% for q in exam.questions.all %}
                        <div class="quiz" style="margin-bottom: 25px;box-shadow: 5px 5px #f2dede; border-radius: 5px;">
                            <div class="row">
                                <div class="col-lg-8" style="margin-bottom: 10px;">
                                    <li>  {{ q.text | safe }} </li>
                                </div>
                                <div class="col-lg-4" style="margin-bottom: 10px;">
                                    {% if q.image %}
                                        <img class="img-thumbnail exam-img" src="{{ q.image.url }}"/>
                                    {% endif %}
                                </div>
                            </div>
                            {% if q.code %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="CodeSheet src-{{ q.code_type }}">
                                            <pre>{{ q.code }}</pre>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                {% for ch in q.choice.all %}
                                    {% if ch.id != -1 %}
                                        <div class="col-lg-12 answer-option" style="padding-bottom: 10px;">
                                            <div class='checkbox'>
                                                <label for="opt{{ ch.id }}">
                                                    <input id="opt{{ ch.id }}"
                                                           value="{{ ch.id }}"
                                                           name="{{ q.id }}"
                                                           type={% if q.number_of_answers > 1 %}'checkbox' {% else %}
                                                               'radio'{% endif %}/>

                                                    {{ ch.text | safe }}

                                                </label>

                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success btn-lg center-block">
                        ثبت
                    </button>
                </div>
            </div>
        </form>
    {% else %}
        <h3 style="text-align: center"> {{ user.username }} گرامی شما این آزمون را گذرانده اید.</h3>
    {% endif %}

{% endblock %}