{% extends 'base.html' %}
{% block keywords %}{% for c in t_categories %}آموزش
    {{ c.local_name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% load staticfiles %}
{% block title %}آموزش آزما وب
{% endblock %}

{% block no_container_content %}

    <body background="/static/image/Blue-and-Purple-Blur-Background.jpg" class="" style=" background-size: 300%">

    <div class="">
        <div class="col-xs-3 sidebar  pull-right">
            <ul class="nav nav-sidebar">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-parent="#accordion" style="font-weight: bold">
                                    گروه های آموزشی
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body secondary" style="color:#ffffff;">
                            {% include '_category_list.html' with categories=t_categories no_detail='True' no_category='True' %}
                        </div>

                    </div>

                </div>
            </ul>
        </div>


        <div class="col-xs-8"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px; margin-top: 40px;">
            <div class="well1">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 style="font-family:Yekan;font-weight: bold;">آموزش های آزما وبی</h1>

                        <p> آزما وب تلاش می کند تا با ایجاد مطالب آموزشی کاربردی و با کیفیت دانش مهندسین نرم افزار ایران
                            را
                            ارتقا دهد.
                            در این بخش آموزش ها در گروه مختلف ارایه می شود که شما با توجه به علاقه و نیازهای خود می
                            توانید
                            از آنها استفاد کنید.
                        </p>
                    </div>
                </div>
            </div>

            {% for c in t_categories %}
                <div class="well1">
                    <div class="row">
                        <div class="col-xs-11">
                            <h4 style="font-weight: bold;"><a
                                    href="{% url 'tutorial:category' c.name %}"> {{ c.local_name }}</a></h4>

                            <hr/>
                            {{ c.description | safe }}
                        </div>
                        <div class="col-xs-1 pull-left" style="text-align: left;">
                            <img style="width:64px; " class="img-responsive img-thumbnail img-rounded"
                                 src="{% static c.img_address %}"/>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}