{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% block keywords %}{{ tutorial.keyword }}{% endblock %}
{% block title %}
    {{ tutorial.local_name }}
{% endblock %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">
    <div class=" col-xs-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a  data-parent="#accordion" style="font-weight: bold">
                            بخش آموزشی {{ category.local_name }}
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                           {% include '_category_list.html' with categories=category.sub_categories.all %}
                            </div>
                        </div>
                    </div>

                </div>
        </ul>
    </div>

        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 1px #888;padding: 10px; margin-top: 20px">

            <div class="well1" style="margin-bottom: 5px">


                <div class="row">
                    <div class="col-xs-8">

                        <h1 style="font-family:Yekan;font-weight: 400;">


                            {{ tutorial.local_name }}


                        </h1>

                        <div class="row">
                            <div class="col-xs-2">
                                <img class="img-responsive img-thumbnail "
                                     src="http://www.gravatar.com/avatar/{{ tutorial.author.profile.email_md5 }}"/>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    نویسنده: &nbsp;
                                    {{ tutorial.author.get_full_name }}
                                </div>
                                <div>
                                    در تاریخ: &nbsp;
                                    {{ tutorial.get_persian_registered_date }}
                                </div>
                            </div>
                        </div>


                    </div>



                    <div class="col-xs-2 pull-left" style="text-align: left;">


                        <img class="img-responsive img-thumbnail img-rounded" style="border: outset #f2dede"
                             src="{% static tutorial.category.img_address %}"/>

                    </div>


                </div>
                    <div class="row" style="padding: 5px;">
                    <div class=" pull-left img-responsive" style=" padding-left: 15px;">
                           <a href="https://www.facebook.com/sharer.php?u={{ path }}{{ request.get_full_path }}" target="_blank">
                                <img class="img-responsive" src="/static/image/facebook_button.png">
                           </a>
                    </div>
                    <div class=" pull-left img-responsive" style=" padding-left: 15px;">
                           <a href="https://www.facebook.com/sharer.php?u={{ path }}{{ request.get_full_path }}" target="_blank">
                                <img class="img-responsive" src="/static/image/twitter_button.png">
                           </a>
                    </div>

                    </div>
            </div>
            <div class="tutorial-content" style="font-family: tahoma; padding: 30px;">
                {{ tutorial.content | safe }}
            </div>


            {% if user.is_authenticated %}
                <div style=" padding-bottom: 34px; position: inherit;">
                <a class="btn btn-gentel col-xs-12" href="{% url 'tutorial:tutorial_exam' tutorial.name %}">آزمون</a>
                </div>
            {% endif %}
           <div style="padding-top: 2px;">
            <div class="well1" >
                {% get_comment_count for tutorial as comment_count %}
                <div class="well1" style="padding: 5px; padding-right: 20px;"> تا به حال {{ comment_count }} نظر برای این
                    آموزش داده شده است.
                </div>
                <div class="well1">
                    {% render_comment_list for tutorial %}
                </div>
                {#                <div class="well">#}
                {#                    {% render_comment_form for tutorial %}#}
                {#                </div>#}
                <div class="well1">
                    {% if user.is_authenticated %}
                        {% get_comment_form for tutorial as form %}
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-2">
                                    کامنت
                                </div>
                                <div class="col-xs-9">
                                    <textarea class="form-control" name="comment"
                                              style="margin-bottom: 15px;"></textarea>
                                    {#                                    {{ form.comment }}#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    چیزی ننویسید
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="honeypot"
                                           style="margin-bottom: 15px;"></textarea>
                                </div>
                            </div>

                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input type="hidden" name="next" value="{% url 'tutorial:tutorial' tutorial.name %}"/>
                            <input class="btn btn-lg btn-success" style="width: 100%;" type="submit" value="ثبت"
                                   id="id_submit"/>
                        </form>
                    {% else %}
                        <p>برای کامنت لطفا
                            <a href="{% url 'login' %}">وارد</a>
                            شوید
                        </p>

                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}