{% extends 'base.html' %}
{% load comments %}
{% load staticfiles %}
{% block keywords %}{{ tutorial.keyword }}{% endblock %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">
        <div class="col-xs-2"
             style="margin-right: 50px;margin-left: 20px; background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">
            <h4 style="font-weight: bold; font-family: Yekan;">
                گروه های آموزشی
            </h4>
            {% include '_category_list.html' with categories=category.sub_categories.all %}
        </div>
        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">

            <div class="well">


                <div class="row">
                    <div class="col-xs-9">
                        <h1>
                            {{ tutorial.local_name }}
                        </h1>

                        <div>
                            نویسنده: &nbsp;
                            {{ tutorial.author.get_full_name }}
                        </div>
                        <div>
                            در تاریخ: &nbsp;
                            {{ tutorial.get_persian_registered_date }}
                        </div>

                    </div>
                    <div class="col-xs-2 pull-left" style="text-align: left;">
                        <img style="width:40px;" class="img-responsive img-thumbnail img-rounded"
                             src="{% static 'image/techs/java.png' %}"/>
                    </div>
                </div>
            </div>
            <div class="tutorial-content">
                {{ tutorial.content | safe }}
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-xs-4 pull-left" style="text-align: left;">
                        <a class="btn btn-success">آموزش قبلی</a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-success">آموزش بعدی</a>
                    </div>

                </div>
            </div>
            <div class="well">
                {% get_comment_count for tutorial as comment_count %}
                <div> {{ comment_count }} کامنت</div>
                <div class="well">
                    {% render_comment_list for tutorial %}
                </div>
                {#                <div class="well">#}
                {#                    {% render_comment_form for tutorial %}#}
                {#                </div>#}
                <div class="well">
                    {% if user.is_authenticated %}
                        {% get_comment_form for tutorial as form %}
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-2">
                                    کامنت
                                </div>
                                <div class="col-xs-9">
                                    <textarea class="form-control" name="comment"
                                              style="margin-bottom: 15px;"></textarea>
                                    {#                                    {{ form.comment }}#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    چیزی ننویسید
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="honeypot"
                                           style="margin-bottom: 15px;"></textarea>
                                </div>
                            </div>

                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input type="hidden" name="next" value="{% url 'tutorial:tutorial' tutorial.name %}"/>
                            <input class="btn btn-lg btn-success" style="width: 100%;" type="submit" value="ثبت"
                                   id="id_submit"/>
                        </form>
                    {% else %}
                        <p>برای کامنت لطفا
                            <a href="{% url 'login' %}">وارد</a>
                            شوید
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}