{% extends 'base.html' %}
{% block keywords %}{% for c in t_categories %}آموزش {{ c.local_name }}{% if not forloop.last %},{% endif %}{% endfor %}{% endblock %}
{% load staticfiles %}

{% block no_container_content %}
    <div class="row" style="margin:0px;">

        <div class="col-xs-2"
             style="margin-right: 50px;margin-left: 20px; background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">
            <h4 style="font-weight: bold; font-family: Yekan;">
                گروه های آموزشی
            </h4>

            <div style="padding-right: 15px;">
                {% include '_category_list.html' with categories=t_categories %}
            </div>

        </div>
        <div class="col-xs-9"
             style="  background-color:#ffffff; border: solid 2px #CCCCCC;padding: 10px;">
            {##}
            {#            <div class="well">#}
            {##}
            {##}
            {#                <div class="row">#}
            {#                    <div class="col-xs-9">#}
            {#                        <h1>#}
            {#                            آموزش برنامه نویسی#}
            {#                        </h1>#}
            {#                        در این بخش آمورشهایی در فیلدهای مختلف کامپیوتر قرار می گیرد#}
            {##}
            {#                    </div>#}
            {#                    <div class="col-xs-2 pull-left" style="text-align: left;">#}
            {#                        <img class="img-thumbnail img-rounded" src="{% static 'image/techs/java.png' %}"/>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

            {% for c in t_categories %}
                <div class="well">
                    <div class="row">
                        <div class="col-xs-11">
                            <a href="{% url 'tutorial:category' c.name %}"> {{ c.local_name }}</a>
                            <hr/>
                            {{ c.description | safe }}
                        </div>
                        <div class="col-xs-1 pull-left" style="text-align: left;">
                            <img style="width:64px;" class="img-responsive img-thumbnail img-rounded"
                                 src="{% static c.img_address %}"/>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}