{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="page-header">
            <h2>ارسال مجدد ایمیل فعالسازی</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-4">
            <div class="center-block form-group">
        <form action="{% url 'confirm_again' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="control-group">
                <p>
                    آدرس ایمیل عضویت خود را در این قسمت وارد کنید تا لینک فعال سازی مجددا برای شما ارسال شود
                </p>

                <label class="form-label">
                    ایمیل
                </label>

                <div class="controls">
                    <input type="email" class="form-control" id="email" name="email" autofocus="" >
                </div>
                <p class="help-block"></p>

            </div>
            <br/>
            <button type="submit" class="btn btn-gentel btn-lg" >
                ارسال مجدد
            </button>
        </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script type="text/javascript">
        var g;
        $(function () {
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation({autoAdd: {helpBlocks: true}});
        });
        $("input,select,textarea").not("[type=submit]").blur(function () {
            $(this).parent().removeClass('has-error').removeClass('has-success');
            $(this).tooltip('destroy');

            if ($(this).jqBootstrapValidation("hasErrors")) {
                var errors = $(this).jqBootstrapValidation("collectErrors");

                var txt = new String();
                txt = txt.concat('<ul style="list-style:none;padding-right:1px">');
                for (var value in errors) {
                    for (var i = 0; i < errors[value].length; i++) {
                        txt = txt.concat('<li>', errors[value][i], '</li>');

                    }

                }
                txt = txt.concat('</ul>');

                $(this).parent().addClass('has-error');
                $(this).tooltip({title: txt, placement: 'left', html: true});
                console.log(txt);

            }
            else {
                $(this).parent().addClass('has-success');

            }

        });
        $('.help-block').hide();
    </script>

{% endblock %}