{% extends 'BasePayam.html' %}
{% block MailHeader %}
فعال سازی حساب کاربری
{% endblock %}

{% block MailBody %}
در صورتی که شما اقدام به ثبت نام در سایت آزماوب کردید لطفا برای فعال سازی حساب خود روی لینک زیر کلیک کنید .
کلیک کردن شما بر روی لینک زیر موجب فعال سازی حساب کاربری با نام {{ username }} خواهد شد
<a href="{{ activate_link }}">{{ activate_link }}</a>

در صورتی که شما فرم ثبت نام آزماوب را پر نکردیدو تمایلی هم به عضویت ندارید این ایمیل را نادیده بگیرید.
به هر حال کمتر از 48 ساعت دیگه برای فعال سازی حساب خودتون از طریق لینک بالا وقت دارید ....بعدش حساب حذف خواهد شد.
{% endblock %}