{% extends 'BasePayam.html' %}
{% block MailHeader %}
    فعال سازی حساب کاربری
{% endblock %}

{% block MailBody %}
    <h1>
        به آزما وب خوش آمدید
    </h1>
    <div style="font-weight:bold;font-size:17pt;">
        در صورتی که شما اقدام به ثبت نام در وب سایت آزماوب کرده اید.
    </div>
    <br/>
    لطفا برای فعال سازی حساب خود روی لینک زیر کلیک کنید.
    کلیک کردن شما بر روی لینک زیر موجب فعال سازی حساب کاربری با نام
    {{ username }}
    خواهد شد.
    <br/>
    <a href="{{ activate_link }}">لینک فعال سازی</a>

    <div style="font-weight:bold; padding-top:6px;font-size:17pt;">
        در صورتی که شما فرم ثبت نام آزماوب را پر نکرده اید
    </div>
    <b>
        و تمایلی هم به عضویت ندارید
    </b>
    <br/>
    <br/>
    این ایمیل را نادیده بگیرید مشکلی برای شما ایجاد نمی گردد و ما بابت این ایمیل ناخواسته از شما عذر خواهی می کنیم.
{% endblock %}