{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="center-block form-group">
    <form id="login_form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
                <label class="form-label">
                    نام کاربری
                </label>
                <input type="text" class="form-control" id="txtUsername" name="username" autofocus="" >
                <label class="form-label">
                    گذرواژه
                </label>
                <input type="password" class="form-control" id="txtPassword" name="password" >
            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" >
مرا به خاطر بسپار

                </label>
            </div>
            <button type="submit" class="btn btn-success">
                ورود</button>
    </form>
</div>

{% endblock %}


{% block js %}

{% endblock %}