{% extends 'base.html' %}

{% block content %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            {% for  a, b in error_message.message_dict.items %}
                <div class="has-error alert-danger">{{ a }} </div>
                {% for msg in b %}
                    <div class="has-error alert-danger"> {{ msg }}</div>
                {% endfor %}
            {% endfor %}
\
        {% endif %}

        <input type="text" name="name" placeholder="نام">
        <br/>
        <input type="text" name="lastName" placeholder="نام خانوادگی">
        <br/>
        <input type="text" name="email" placeholder="ایمیل">
        <br/>
        <input type="text" name="username" placeholder="نام کاربری"/>
        <br/>
        <input type="password" name="password" placeholder="رمز عبور">
        <br/>
        <input class="btn btn-success" type="submit" value="ورود"/>
    </form>

{% endblock %}