
.navigation {
    background-color: #5269A4;
    color: #ffffff;
    border-color: #010c2b;
}

.navigation a {

    color: #ffffff;

}

.navigation_ul {
    color: #aaaaaa;
    font-weight: bold;

}

.navigation_ul > li > a:hover {

    color: #ffffff;
    background-color:#ADBCDF;
}


