body {
    font-family: Yekan;
}

h1, h2, h3 {

    font-family: "yekan";
    padding-bottom: 20px;
}

a {
    color: #5080f0;
}

p {
    font-family: Yekan;
    padding-bottom: 10px;
}

.nav-header {
    font-family: Bardiya;
    padding-right: 6px;
}

.space {
    margin-top: 61px;
    /*padding-top: 25px;*/
}

.message {
    padding-bottom: 10px;

}

.content {

}

.timer {
    background-image: linear-gradient(#555555, #eeeeee 80%, #aaaaaa) !important;
}

.duration {
    color: #CC5533;
}

.form-label {
    padding-top: 5px;
    padding-bottom: 2px;
}

.btn-success {
    background-image: linear-gradient(#777777, #227733 40%, #333333);
    background-color: #445500 !important;
}

.btn-success:hover {
    background-image: linear-gradient(#777777, #22aa33 40%, #333333);
    background-color: #445500 !important;
}

.form-group {
    width: 50%;

    background-image: linear-gradient(#777777, #666666 60%, #333333);
    /*background-color: #C8C8C8;*/
    border-radius: 10px 10px;
    padding-top: 7px;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 5px;
}

.form-group:hover {
}

.form-group input {
    border-radius: 5px 5px;
    padding-left: 1px;
    padding-right: 17px;
}

#txtEmailAddress, #txtUsername, #txtPassword, #txtConfirmPassword {
    direction: ltr;
    text-align: left;
    padding-right: 1px;
}

.alert-danger {
    background-image: linear-gradient(#f29e9e, #f2dede 90%, #f2dede);
    color: #a94442;
    border-color: #ebccd1;
}

label {
    font-family: Roya;
}