.rgba-primary-0 {
    color: rgba(101, 133, 201, 1)
}

/* Main Primary color */
.rgba-primary-1 {
    color: rgba(146, 180, 252, 1)
}

.rgba-primary-2 {
    color: rgba(121, 157, 233, 1)
}

.rgba-primary-3 {
    color: rgba(89, 112, 161, 1)
}

.rgba-primary-4 {
    color: rgba(65, 77, 102, 1)
}

body {
    font-family: Yekan;
    background-color: rgba(121, 157, 233, 1);
}

h1, h2, h3 {

    font-family: "yekan";
    padding-bottom: 20px;
}

a {
    color: #5080f0;
}

p {
    font-family: Yekan;
    padding-bottom: 10px;
    text-align: right;
}

.navbar .glyphicon {
    font-size: 13pt;
    padding-bottom: 10px;
}

.navbar {
    min-height: 20px;
    height: 40px;
}

.navbar ul li {
    font-family: Tahoma;
    color: #102E37;
    font-size: 12pt;
    font-weight: bold;
}

.navbar ul li a {
    font-family: Yekan;
    font-size: 12pt;
    padding-bottom: 6px;

    /*height: 50px;*/
}

.navbar-inverse .navbar-nav > li > a:hover {

    background-color: #799DE9;

}

.navbar-left .glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}

.navbar .dropdown-menu > li > a {
    font-family: Yekan;
    font-size: 15pt;
}

.navbar .dropdown-menu > li > a:focus {
    font-family: Yekan;
    font-size: 15pt;
}

.nav-header {
    font-family: Bardiya;
    padding-right: 6px;
}

.space {
    margin-top: 50px;
}

.message {
    padding-bottom: 10px;

}

.content {

}

.timer {
    color: #004b63 !important;
    background-image: linear-gradient(#EAA83A, #FEC56B 80%, #FEC56B) !important;
}

.duration {
    color: #CC5533;
}

.form-label {
    padding-top: 5px;
    padding-bottom: 2px;
}

.btn-success {

}

.btn-success:hover {
}

.form-group {
    /*

       width: 50%;

       background-image: linear-gradient(#E8EDE0, #E8EDE0 60%, #E8EDE0);
       /*background-color: #C8C8C8;*//*
       border-radius: 10px 10px;
       padding: 7px 17px 5px;
       */

}

.form-group:hover {
}

.form-group input {
    border-radius: 5px 5px;
    padding-left: 1px;
    padding-right: 17px;
}

.form-group label {
    color: #EEDDFF;
}

#txtEmailAddress, #txtUsername, #txtPassword, #txtConfirmPassword {
    direction: ltr;
    text-align: left;
    padding-right: 1px;
}

.alert-danger {
    background-image: linear-gradient(#f29e9e, #f2dede 90%, #f2dede);
    color: #a94442;
    border-color: #ebccd1;
}

label {
    font-family: Roya;
    font-size: 12pt;
    font-weight: bold;

}

p.bubble {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-right: 30px;
    margin-bottom: 60px;
    background-color: #008AEA;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    color: #ffffff;
}

p.thought {
    width: 180px;
    height: 100px;
    line-height: 90px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
    border: 0px;
}

p.bubble:before, p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.speech {
    border: 0px;
}

p.speech:before {

    left: 30px;
    top: 100px;
}

p.speech:after {
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #008AEA transparent transparent #008AEA;
}

p.thought:before, p.thought:after {
    left: 20px;
    top: 60px;
    width: 60px;
    height: 60px;
    background-color: #008AEA;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

p.thought:after {
    width: 30px;
    height: 30px;
    left: 25px;
    top: 100px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

/* for profile page (we will move them to a specific file */
/* i move these styles to <style> tag for easier designing*/
#profile-menu {
    height: 100%;
    font-size: 18pt;
    background-color: #E0E0E3;

}

.profile-item {
    padding-right: 5%;
    border: thin solid rgba(3, 18, 104, 0.22);
    /*height: 30px;*/
    font-size: 1.2vw;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 2px;
    box-shadow: rgba(22, 41, 75, 0.29) 4px 2px 9px;
    cursor: pointer;
    text-align: justify;
    /*margin-right: 5%;*/
    color: gray;
    border-right: thick solid rgba(0, 0, 0, 0);
    background-color: #f5f5f5;

    /*rgba(181, 196, 255, 0.44);*/
}

.profile-item:not(.profile-item-selected):hover {
    border-right: thick solid #FFFFFF;
    border-left: thick solid #FFFFFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

.profile-item-selected {
    border-right: thick solid #CCCCFF;
    border-left: thick solid #CCCCFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(181, 196, 255, 0.66);

    cursor: default;
}

.profile-content {
    font-size: 14pt;
    padding-top: 30px;
    float: left;;
}

.user-panel {
    position: fixed;
    right: 0px;
    width: 240px;
    height: 260px;
    top: 20%;
    z-index: 9000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #006687;

}

/* Chrome, Safari, Opera */

.panel-handle {
    position: relative;

    float: left;

    background-color: rgba(181, 196, 255, 0.66); /*TODO : Colors are not suitable    */
    margin-left: 0px;
    width: 10px;
    height: 70px;
    margin-top: 80px;
    cursor: pointer;

}

.panel-handle-opened {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.panel-handle-closed {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.panel-handle-arm {
    position: relative;

    background-color: rgba(139, 158, 231, 1);
    width: 12px;
    height: 30px;
    margin-top: 20px;

}

.panel-handle-opened .panel-handle-arm {

    float: right;
    margin-right: -5px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.panel-handle-closed .panel-handle-arm {

    float: left;

    margin-left: -13px;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arm-pointer {
    position: relative;

    margin-top: 50%;
}

.arm-pointer:hover {
    color: #a3a3a3;
}

.panel-handle-opened .arm-pointer {
    float: right;
}

.panel-handle-closed .arm-pointer {

    float: left;

}

.profile-content {
    border-radius: 19px 19px;
    border: solid thin rgba(200, 200, 255, 0.23);
    min-height: 500px;
    /*max-height: 500px;*/

}

.panel {
    border-radius: 7px !important;
}

.panel-footer {
    background-color: #dddddd;
}

/* end of profile */
.exam-header {
    font-size: 18pt;
}

.navbar .container {
    width: 100%;
    padding-right: 40px;
    max-width: 100%;
    padding-left: 0px;
}

.navbar .glyphicon {
    top: 0px;
}

.navbar-inverse .navbar-nav li a {
    color: #92B4FC;
}

.answer-option {
    line-height: 34px;
}

.answer-option:hover {
    background-color: #e9e9e9;

}

.exam-panel {
    position: fixed;
    right: 10px;
    width: 22%;
    height: 50%;

}

.exam-panel-row {
    border-color: rgb(70, 110, 190);
    border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    height: 50px;
    padding: 5px;
    border-radius: 7px 7px;;

    vertical-align: middle;
}

.big-exam-panel {
    height: 70px;
}

.exam-panel-row .glyphicon {
    font-size: 30px;
    color: rgb(70, 110, 190);
}

/* modal css */

.modal-title {
    font-family: Yekan;
    font-weight: bold;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

/* home css */
section {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: #92B4FC;
}

#one {
    background-color: #799DE9;
    padding-top: 0px;
    color: #ffff00;
}

#two {
    /*background-color: #565656;*/
    background-color: #92B4FC;
    padding-top: 0px;
    color: #92B4FC;
}

#three {
    background-color: #92B4FC;
    padding-top: 0px;
    color: #92B4FC;
}

#four {
    background-color: #414D66;
    color: #92B4FC;
}

.jumbotron {
    background-color: #414D66;
    color: #ffddaa;
    padding-top: 30px;
    padding-bottom: 2%;
    text-align: right;
}

@media (min-width: 100px) {

    h2 {
        font-size: 3vw;
        font-weight: bold;
    }

    .jumbotron p {
        font-size: 2.2vw;
        /*color: #6585C9;*/
    }

    .jumbotron p a {
        font-size: 2.9vw;
        border: solid 1px #5970A1;
        border-radius: 6px;
        color: #f5e79e;

    }

    #happy-image {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 600px) {

    h2 {
        font-size: 3.4vw;
        font-weight: bold;
    }

    .jumbotron p {
        font-size: 1.9vw;
        /*color: black;*/
    }

    .jumbotron p a {
        font-size: 2.9vw;
        border: solid 1px #449955;
        border-radius: 6px;
        color: #6585C9;

    }

    #happy-image {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 1200px) {

    h2 {
        font-size: 3vw;
        font-weight: bold;
    }

    .jumbotron p {
        font-size: 1.2vw;
        /*color: #6585C9;*/
    }

    .jumbotron p a {
        font-size: 1.6vw;
        border: solid 1px #449955;
        border-radius: 6px;
        color: #f5e79e;

    }

    #happy-image {
        width: 400px;
        height: 400px;
    }
}

.tab-content .jumbotron {
    background-color: #448899;
    /*border-radius: 10px;*/
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs > li > a {
    margin-right: 0px;
    margin-left: 1px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 9px 9px 0 0;
    background-color: #ffffff;
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
    background-color: #ffdd99;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffcc99;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

.content {
    padding-top: 55px;
}

.navbar-inverse {
    background-color: #6A87AE;
    color: #F6FAFF;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.lead {
    font-size: 1.1vw;
}

.entry-summary {
    padding-top: 10px;
    color: white;
}

.entry-content {
    padding-top: 10px;
    /*color: white;*/
    padding-bottom: 50px;
}

.entry-content p {
    font-family: tahoma, sans-serif;
}

.blog-widget {
    margin-top: 30px;

    /*border-radius: px;*/
    /*background-color: #FFEEFF;*/
}

.blog-widget .header {
    margin: 0;
    padding: 0;
    padding-right: 6px;
    /*background-color: #eed3d7;*/
    font-size: 1.3vw;
    font-weight: bold;

}

.blog-widget a {
    color: #ffff00;
    padding-top: 3px;
    font-size: 1.0vw;
    padding-right: 10px;
}

.blog-widget a:hover {
    text-decoration: none;
}

.comment-list {
    padding-right: 6px;
    background-color: white;
    color: #000000;
    padding-bottom: 20px;

}

.comment {

    background-color: #F5F5F5;
    padding-top: 5px;
    padding-right: 20px;
    margin: 20px;
    padding-bottom: 5px;
    font-size: 13px;
}

#form-comment {

    font-size: 1.0vw;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 15px;
    font-family: tahoma, sans-serif, serif;
    border: solid #C5C5C5 1px;
    background-color: #F5F5F5;
    color: #888888;
}

#form-comment label {
    font-family: Yekan;
    background-color: #F5F5F5;
    color: #888888;
}