{% extends 'base.html' %}


{% block css %}
    <style>

        #profile-menu {
            font-size: 18pt;

        }

        .profile-item {
            padding-right: 5%;
            border: thin solid rgba(3, 18, 104, 0.22);
            height: 30px;
            font-size: 18pt;
            padding-top: 2%;
            padding-bottom: 20%;
            margin-bottom: 15px;
            box-shadow: rgba(22, 41, 75, 0.29) 4px 2px 9px;
            cursor: pointer;
            text-align: justify;
            margin-right: 5%;
            color: white;
            border-right: thick solid rgba(0, 0, 0, 0);
            background-color: rgba(181, 196, 255, 0.44);
        }

        .profile-item:not(.profile-item-selected):hover {
            border-right: thick solid #FFFFFF;
            border-left: thick solid #FFFFFF;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            color: white;
        }

        .profile-item-selected {
            border-right: thick solid #CCCCFF;
            border-left: thick solid #CCCCFF;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            background-color: rgba(181, 196, 255, 0.66);

            cursor: default;
        }

        .profile-content {
            font-size: 14pt;
            padding-top: 30px;
            float: left;;
        }

        .user-panel {
            position: fixed;
            right: 0px;
            width: 240px;
            height: 260px;
            top: 20%;
            z-index: 9000;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: #006687;

        }

        /* Chrome, Safari, Opera */

        .panel-handle {
            position: relative;

            float: left;

            background-color: rgba(181, 196, 255, 0.66); /*TODO : Colors are not suitable    */
            margin-left: 0px;
            width: 10px;
            height: 70px;
            margin-top: 80px;
            cursor: pointer;

        }

        .panel-handle-opened {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .panel-handle-closed {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .panel-handle-arm {
            position: relative;

            background-color: rgba(139, 158, 231, 1);
            width: 12px;
            height: 30px;
            margin-top: 20px;

        }

        .panel-handle-opened .panel-handle-arm {

            float: right;
            margin-right: -5px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .panel-handle-closed .panel-handle-arm {

            float: left;

            margin-left: -13px;

            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .arm-pointer {
            position: relative;

            margin-top: 50%;
        }

        .arm-pointer:hover {
            color: #a3a3a3;
        }

        .panel-handle-opened .arm-pointer {
            float: right;
        }

        .panel-handle-closed .arm-pointer {

            float: left;

        }
    </style>
{% endblock %}

{% block content %}


    <div class="user-panel">
        <div class="panel-handle panel-handle-opened">
            <div class="panel-handle-arm ">
                <div class="arm-pointer glyphicon glyphicon-chevron-right"></div>
            </div>

        </div>
        <div class="panel-content">
            <div class="col-md-11" style="padding-right: 2px; padding-left: 0; padding-top:32px;" id="profile-menu">
                <div class="profile-item profile-item-selected" id="info">
                    اطلاعات من
                </div>
                <div class="profile-item" id="exam">
                    آزمونها
                </div>
                <div class="profile-item" id="password">
                    تغییر رمز عبور
                </div>

            </div>

        </div>
    </div>
    <div class="col-lg-8 profile-content">
    <div class="visible" id="info-container">
            <div class="row">
                <div class="col-lg-2">نام</div>
                <div class="col-lg-10">{{ user.first_name }}</div>
            </div>
            <div class="row">
                <div class="col-lg-2">نام خانوادگی</div>
                <div class="col-lg-10">{{ user.last_name }}</div>
            </div>
            <div class="row">
                <div class="col-lg-2">نام کاربری</div>
                <div class="col-lg-10">{{ user.username }}</div>
            </div>
            <div class="row">
                <div class="col-lg-2"> تاریخ عضویت</div>
                <div class="col-lg-10">{{ user.date_joined }}</div>
            </div>
        </div>
        <div class="c hidden" id="exam-container">
            {% for answer in exam_answers %}
                {{ answer.exam.local_name }}
                <br/>
                {{ answer.score }}
                از
                {{ answer.exam.score }}
            {% endfor %}
            <div>
                نمره کل:
                {{ sum_score }}
            </div>

        </div>
        <div class="c hidden col-lg-10" id="password-container">
            <form method="post" action="{% url 'profile:change_password' %}">
                {% csrf_token %}

                <div class="control-group"><label class="form-label">

                    رمز عبور کنونی

                </label>

                    <div class="controls">
                        <label></label>
                        <input type="password" class="form-control" name="oldPass"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="form-label">
                        رمز عبور جدید
                    </label>

                    <div class="controls">
                        <label></label>
                        <input type="password" class="form-control" name="newPass"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="form-label">
                        تکرار رمز عبور
                    </label>

                    <div class="controls">
                        <label></label>
                        <input type="password" class="form-control"/>
                    </div>
                </div>
                <button style="margin-top: 10px;" type="submit" class="btn btn-success btn-lg">
                    ثبت
                </button>
            </form>
        </div>
    </div>
    </div>






{% endblock %}

{% block js %}



    <script type="text/javascript">
        var user_panel = {
            close: function () {

                $('.user-panel').animate(
                        {
                            right: '-230'
                        }
                        , 500, function () {
                            /* $('.panel-handle').addClass('panel-handle-closed').removeClass('panel-handle-opened');
                             $('.arm-pointer').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-left');
                             */
                            $('.panel-handle-arm').css('float', 'none');
                            $('.panel-handle').animate({
                                borderBottomRightRadius: '5px',
                                borderTopRightRadius: '5px',
                                borderTopLeftRadius: '15px',
                                borderBottomLeftRadius: '15px'

                            }, 10, function () {

                                $('.arm-pointer').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-left')
                                        .css({left: '2px' });

                            });
                            $('.panel-handle-arm').animate({
                                float: 'left',

                                marginLeft: '-13px',
                                marginRight: '+3px',
                                borderRightWidth: '0px',
                                borderLeftWidth: '1px',
                                borderBottomRightRadius: '2px',
                                borderTopRightRadius: '2px',
                                borderTopLeftRadius: '6px',
                                borderBottomLeftRadius: '6px'
                            });


                        }
                );
            },
            open: function () {
                $('.user-panel').animate(
                        {
                            right: '0'
                        }
                        , 500, function () {
                            /*  $('.panel-handle').removeClass('panel-handle-closed').addClass('panel-handle-opened');
                             //<div class="arm-pointer glyphicon glyphicon-chevron-right"></div>
                             $('.arm-pointer').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-left');
                             */

                            $('.panel-handle-arm').css('float', 'none');
                            $('.panel-handle').animate({
                                borderBottomRightRadius: '15px',
                                borderTopRightRadius: '15px',
                                borderTopLeftRadius: '5px',
                                borderBottomLeftRadius: '5px'
                            }, 10, function () {

                                $('.arm-pointer').addClass('glyphicon-chevron-right').removeClass('glyphicon-chevron-left')
                                        .css({left: '0px', right: '0px'});
                            });

                            $('.panel-handle-arm').animate({
                                float: 'right',
                                marginRight: '-5px',
                                marginLeft: '0px',
                                borderRightWidth: '1px',
                                borderLeftWidth: '0px',
                                borderBottomRightRadius: '6px',
                                borderTopRightRadius: '6px',
                                borderTopLeftRadius: '2px',
                                borderBottomLeftRadius: '2px'
                            });
                        }
                );
            },
            toggle: function () {
                console.log("ASD");
                var right_distance = $('.user-panel').css('right');
                console.log($('.user-panel').css('right'));
                if (right_distance == '0px')
                    user_panel.close();
                else
                    user_panel.open();
            }


        };

        $(document).ready(function () {


            $('.panel-handle').click(function () {
                user_panel.toggle();
            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.profile-item').click(
                    function (item) {
                        $('.profile-item').removeClass('profile-item-selected');

                        $(item.target).addClass('profile-item-selected');
                        var item_id = item.target.id;
                        var container_name = item_id + '-container';
                        var visible_object = $('.visible')[0];
                        if (visible_object.id == container_name) {
                            return;
                        }

                        $('.visible').fadeOut('fast', function () {
                            $('.visible').removeClass('visible').addClass('hidden');
                            $('#' + container_name).removeClass('hidden').addClass('visible');
                            $('#' + container_name).fadeIn('slow');

                        });

                    }
            )
        });
    </script>
{% endblock %}