{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static "js/jquery.plugin.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countdown-fa.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {%  if exam.start_date > current_date %}
                $.countdown.setDefaults({description: 'تا شروع آزمون'});
                $('#timer').fadeIn('slow');
                $('#timer').countdown({onTick: function (periods) {
                    var secs = $.countdown.periodsToSeconds(periods);
                    if (secs == 0)
                        $('#timer').fadeOut('slow', function () {
                            $('#enter').fadeIn('slow');
                        });

                }, until: new Date({{ exam.start_date.year}}, {{ exam.start_date.month}}-1, {{ exam.start_date.day}})});
                {#            {% else %}#}

            {% endif %}
            $('#enter').fadeIn('slow');


        });
    </script>
{% endblock %}

{% block css %}
    <link href="{% static "css/jquery.countdown.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1>آزمون {{ exam.local_name }} </h1>

    <div class="container">
        <p>
            {{ exam.description | safe }}

        </p>
    </div>
    <div class="container duration">مدت زمان آزمون:
        {{ exam.duration }}
        دقیقه
    </div>
    <br/>

    <div class="container">
        دانش مورد نیاز این آزمون
        <ul>
            {% if exam.required_knowledge.exists %}
                {% for k in exam.required_knowledge.all %}
                    <li>{{ k.name }}</li>
                {% endfor %}
            {% else %}
                <li>دانش خاصی برای این آزمون مشخص نگردیده است
                </li>
            {% endif %}
        </ul>
    </div>


    <div id="timer" class="container form-group timer" style="display: none;"></div>
    <div id="enter" class="container enter" style="display: none;">
        <a class="btn btn-success " href="{% url 'exam:start' exam.id %}">
            ورود به آزمون
        </a>
    </div>
{% endblock %}