{% extends 'base.html' %}
{% block title %}آزما وب{% endblock %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "css/jquery.countdown.css" %}" rel="stylesheet">
    <link href="{% static "css/onepage-scroll.css" %}" rel="stylesheet">


    <style>

        section {
            text-align: center;
            vertical-align: middle;
            margin: auto;
        }

        /**/

        #Main_Carousel .item {

        }

        .item {

            height: 450px;
            position: relative;

        }

        #heaven {
            text-align: center;
            background-repeat: no-repeat;
        }

        #Technologies {
            text-align: center;
        }

        #Professionals {
            text-align: center;
        }

        .item-bottom {
            position: absolute;
            bottom: 1px;
            padding-right: 91px;
            padding-top: 20px;
            height: 50%;
            margin: auto;
            width: 100%;
        }

        .item-top {
            position: absolute;
            top: 1px;
            height: 50%;
            margin: auto;
            width: 100%;
        }

        .carousel-indicators li {
            background-color: #AEAEFF;
            border: 1px solid #1A1AEE;
        }

        .carousel-control.right {
            background-image: none; /* linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 100, 0.1) 100%);*/
            background-repeat: repeat-x;

        }

        .carousel-control.left {
            background-image: none; /* linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 100, 0.1) 100%);*/
            background-repeat: repeat-x;

        }

    </style>
{% endblock %}

{% block nocompress_css %}
    <link href="{% static 'css/Counter.fonts.css' %}" rel="stylesheet">
{% endblock %}

{% block nocompress_js %}
    <script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/jquery.plugin.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.onepage-scroll.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.countdown.setDefaults({description: 'تا آغاز کار آزما وب'});
            $('#timer').fadeIn('slow');
            $('#timer').countdown({onTick: function (periods) {
                var secs = $.countdown.periodsToSeconds(periods);
                if (secs == 0)
                    $('#timer').fadeOut('slow', function () {
                        $('#enter').fadeIn('slow');
                    });

            }, until: new Date(2014, 3, 7)});


            $(".main").onepage_scroll({
                sectionContainer: "section",
                easing: "ease",
                animationTime: 1000,
                pagination: true,
                updateURL: false
            });

        });

    </script>
{% endblock %}


{% block content %}
    <div class="main">
        <section>
            <img class="img-thumbnail exam-img" src="http://placehold.it/500x400"
                    {# src="{{ q.image.url }}" #}/>

        </section>

        <section>
            <img class="img-thumbnail exam-img" src="http://placehold.it/600x400"
                    {# src="{{ q.image.url }}" #}/>
        </section>
        <section>
            <img class="img-thumbnail exam-img" src="http://placehold.it/700x400"
                    {# src="{{ q.image.url }}" #}/>
        </section>
        <section>
            <img class="img-thumbnail exam-img" src="http://placehold.it/800x400"
                    {# src="{{ q.image.url }}" #}/>
        </section>


    </div>




{% endblock %}