{% extends 'base.html' %}
{% block title %}آزما وب{% endblock %}
{% load staticfiles %}

{% block css %}
    <style>
        #Main_Carousel .item {

        }

        .item {

            height: 450px;
            position: relative;

        }

        #heaven {
            text-align: center;
            background-repeat: no-repeat;
        }

        .item-bottom {
            position: absolute;
            bottom: 1px;
            padding-right: 91px;
            padding-top: 20px;
            height: 50%;
            margin: auto;
            width: 100%;
        }

        .item-top {
            position: absolute;
            top: 1px;

            height: 50%;
            margin: auto;
            width: 100%;
        }

        .carousel-indicators li {
            background-color: #AEAEFF;
            border: 1px solid #1A1AEE;
        }

        .carousel-control.right {
            background-image: none; /* linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 100, 0.1) 100%);*/
            background-repeat: repeat-x;

        }

        .carousel-control.left {
            background-image: none; /* linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 100, 0.1) 100%);*/
            background-repeat: repeat-x;

        }

    </style>

{% endblock %}


{% block content %}

    <div class="container" style="padding-top: 50px;">

        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-md-10">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div id="Main_Carousel" class="carousel-inner">
                        <div class="item active">
                            <div id="heaven" class="item-top">
                                <img src='{% static "image/Heaven.jpg" %}' alt="Heaven"/>
                            </div>
                            <div class="item-bottom">
                                <h1>بهشت کجاست ؟</h1>
                                <p>
                                    به نظرم بهشت جائیه که هیچ کارفرمایی از نبود نیروی متخصص در رنج نیست .
                                    <br>
                                    جائی که هیچ نیروی متخصصی وقت و مهارتش برای امور سطح پائین تر هدر نمیره .

                                    <br>
                                    و قطعا تا زمانی که متخصص مرتبط با امری وجود دارد نیروی نامجرب استخدام نمیشود .

                                </p>
                            </div>
                        </div>
                        <div class="item container">
                            <div class="item-top">
                                <img src='{% static "image/professionals.jpg" %}' alt="Professionals"/>
                            </div>
                            <div class="item-bottom">
                                <h1>
                                    این حداقل حق شماست !
                                </h1>
                                یک تیم حرفه ای ، انتظارات به جا ، مهارت کافی...خواسته های زیادیست ؟
                            </div>
                        </div>
                        <div class="item container">
                            <div class="item-top">

                            </div>
                            <div class="item-bottom">


                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                                                                                 href="#carousel-example-generic"
                                                                                 data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right">
                </span></a>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-md-10">
                <h1 class="center-block"></h1>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    <script>
        $(window).load(function () {

                    $('.carousel').carousel('pause');
                }
        );

    </script>
{% endblock %}
