{% extends 'base.html' %}
{% block title %}بیشتر بدانید{% endblock %}
{#{% block css %} {% endblock %}#}


{% block content %}
    <!--
<div class="small-container animation3">
    <div class="container" style="padding-top: 50px;">

        <div class="row" style="padding-bottom: 70px;">
            <div class="col-lg-1">
            </div>
            <div class="col-md-5">
                <p class="bubble speech">آزما وب چیه؟</p>

                <p>
                    آزما یک سرویس کارا و مفید برای آزمودن دانش شما در زمینه های مختلف است.
                    با استفاده از این سرویس شما می توانید میزان تسلط خود بر روی مباحث موجود را بسنجید.
                    در کنار این خودآزمایی ما سرویس های دیگری به شما معرفی می کنیم تا خودآزمایی و یادگیری برای شما لذت
                    بخش تر شود.
                </p>

                <p class="bubble speech">
                    خب از کجا شروع کنم؟
                </p>

                <p>
                    چون ما نیاز داریم که بتونیم وضعیت شما دوست عزیز رو پیگیری کنیم و سرویس با کیفیتی رو به شما ارایه
                    بدیم - از شما استدعا داریم که در این وب سایت عضو بشید.
                    ما قول میدیم که
                    <a href="{% url 'register' %}">عضویت</a>
                    ۲ دقیقه بیشتر وقت شما رو نگیره.
                    یه قول دیگه هم میدیدم و اون اینه که "ارزششو داره".
                </p>

                <p class="bubble speech">
                    من میتونم تو آزمون ها شرکت کنم؟
                </p>

                <p>
                    چرا که نه؟ شما در تمام آزمون های آزما وب می توانید شرکت کنید و هیچ محدودیتی وجود ندارد.
                </p>
            </div>
            {% comment %}            <div class="col-lg-2">
            </div>{% endcomment %}
            <div class="col-md-5">
                <p class="bubble thought">کاش منم میتونستم کمک کنم</p>
                چرا که نه؟ اگر شما در هر بخش از پروژه علاقه به همکاری داشته باشید وب آزما با تمام وجود از شما استقبال می
                کند.
                شما می توانید در بخش های مختلفی همچون توسعه سرویس
                -
                تکمیل آزمون ها و ایجاد آزمون جدید
                -
                گزارش مشکلات موجود
                با ما همکاری کنید. اگر حس می کنید در زمینه ای قادر به همکاری هستید ولی در اینجا ذکر نشده حتما با ما تماس
                بگیرید.
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    </div>
    -->

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>
                    بیشتر بدانید
                </h2>
            </div>
        </div>


        <div style="margin-top: 30px; ">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                آزما وب چیه؟
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            آزما یک سرویس کارا و مفید برای آزمودن دانش شما در زمینه های مختلف است.<br>
                            با استفاده از این سرویس شما می توانید میزان تسلط خود بر روی مباحث موجود را بسنجید.<br>
                            در کنار این خودآزمایی ما سرویس های دیگری به شما معرفی می کنیم تا خودآزمایی و یادگیری برای شما لذت
                            بخش تر شود.<br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                خب از کجا شروع کنم؟
                            </a>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            چون ما نیاز داریم که بتونیم وضعیت شما دوست عزیز رو پیگیری کنیم و سرویس با کیفیتی رو به شما ارایه بدیم , از شما استدعا داریم که در این وب سایت عضو بشید.<br>
                            ما قول میدیم که <a href="{% url 'register' %}">عضویت </a>۲ دقیقه بیشتر وقت شما رو نگیره. یه قول دیگه هم میدیدم و اون اینه که "ارزششو داره".
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                من میتونم تو آزمون ها شرکت کنم؟
                            </a>
                        </h3>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            چرا که نه؟ شما در تمام آزمون های آزما وب می توانید شرکت کنید و هیچ محدودیتی وجود ندارد.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                کاش منم میتونستم کمک کنم
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            چرا که نه؟ اگر شما در هر بخش از پروژه علاقه به همکاری داشته باشید وب آزما با تمام وجود از شما استقبال می کند. <br>
                            شما می توانید در بخش های مختلفی همچون توسعه سرویس - تکمیل آزمون ها و ایجاد آزمون جدید - گزارش مشکلات موجود با ما همکاری کنید.<br>
                            اگر حس می کنید در زمینه ای قادر به همکاری هستید ولی در اینجا ذکر نشده حتما با ما تماس بگیرید.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
