{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}

    <link href="{% static "UI/checkbox/input.checkbox.css" %}" rel="stylesheet">
    <link href="{% static "UI/radiobutton/input.radiobutton.css" %}" rel="stylesheet">
    <link href="{% static "UI/img/img.css" %}" rel="stylesheet">
    <style>

    </style>
{% endblock %}
{% block content %}
    <div class="well exam-panel">
        <div class="exam-panel-row">
            <span class="glyphicon glyphicon-time"></span>

        </div>
        <div class="exam-panel-row">
            <span class="glyphicon glyphicon-question-sign"></span>
        </div>
        <div class="exam-panel-row">
            <div class="row">
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
                <div class="col-md-9" style="padding-right: 5px;margin-top:4px;">
                    تعداد شرکت کنندگان: {{ participates_count }}
                    نفر

                </div>
            </div>

        </div>
        <div class="exam-panel-row">

            <span class="glyphicon glyphicon-flash"></span>
        </div>


    </div>
    <form method="post" action="{% url 'answer:analyze' exam.id %}">
        {% csrf_token %}
        <div class="row" style="float: left">

            <div class="col-lg-9  table-bordered" style="padding-bottom: 20px;padding-top: 20px;float:left;">
                {% for q in exam.question_set.all %}
                    <div class="well" style="margin-bottom: 25px;box-shadow:3px 3px #F3F3F3;">
                        <div class="row">
                            <div class="col-lg-8" style="margin-bottom: 10px;">
                                <li>  {{ q.text | safe }} </li>
                            </div>
                            <div class="col-lg-4" style="margin-bottom: 10px;">
                                {% if q.image %}
                                    <img class="img-thumbnail exam-img" src="http://placehold.it/400x400"
                                            {# src="{{ q.image.url }}" #}/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row ">
                            {% for ch in q.choice_set.all %}
                                {% if ch.id != -1 %}
                                    <div class="col-lg-10 answer-option" style="padding-bottom: 10px;">
                                        <div class='checkbox'>
                                            <label for="opt{{ ch.id }}">
                                                <input id="opt{{ ch.id }}"
                                                       name="{{ q.id }}"
                                                       type={% if q.number_of_answers > 1 %}'checkbox' {% else %}
                                                           'radio'{% endif %}/>

                                                {{ ch.text | safe }}

                                            </label>

                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-success btn-lg center-block" value="ثبت"/>
            </div>
        </div>
    </form>
{% endblock %}


{% block js %}
    <script src="{% static 'UI/checkbox/input.checkbox.js' %}" type="text/javascript"></script>
    <script src="{% static 'UI/radiobutton/input.radiobutton.js' %}" type="text/javascript"></script>
    <script src="{% static 'UI/img/img.js' %}" type="text/javascript"></script>

{% endblock %}