{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ category.local_name }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h2>آزمون ها</h2>
    </div>
    <div class="panel-group" id="panel-group">
        {% if sub_categories.count == 0 %}
            <h3>
                با عرض پوزش در حال حاضر آزمونی در این بخش وجود ندارد
            </h3>
            <p>
                ممکن است که طبقه بندی آزمونی که شما به آن مراجعه کردید وجود نداشته باشد و یا در حال حاضر شامل آزمونی
                برای برگذاری نباشد
            </p>
            <img src="{% static "image/come-back-later.jpg" %}"/>
        {% endif %}
        {% for cat in sub_categories %}
            <div class="panel panel-success">

                <div class="panel-heading-exam">
                    <a data-toggle="collapse" data-parent="panel-group" href="#" data-target="#cat-{{ cat.name }}">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-9 col-sm-10">
                                    {{ cat.local_name }}

                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <div class="badge">
                                        {{ cat.number_of_exams }}
                                        &nbsp;
                                        آزمون
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
                <div class="panel-body collapse" id="cat-{{ cat.name }}"
                     style="text-align: center; justify-content: center;">

                    {% for exam in cat.exam_set.all %}
                        <div class="exam-container col-lg-3 center-block"
                             style="text-align:center;background-color: #e0e0e0;border-radius: 8px; padding-top: 10px; padding-bottom: 10px; margin: 20px; min-height: 200px;">
                            <p style="font-weight: bold; font-size:17px;"> {{ exam.local_name }}</p>

                            <div style="min-height: 80px;">
                                <p style="font-size: 13px; font-weight: normal;"> {{ exam.description | safe }} </p>
                            </div>
                            <div class="badge" style="margin-bottom: 20px;">
                                {{ exam.duration }}
                                &nbsp;
                                دقیقه
                            </div>

                            <div>
                                <a class="btn btn-success" href="{% url 'exam:intro' exam.id %}">شرکت در آزمون</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}