{% load i18n %}
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.slate.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}" rel="stylesheet">

    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "font-farsi/fonts.css" %}" rel="stylesheet">

    {% block css %}{% endblock %}
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top pull-right" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand YekanFont" href="#">آزماوب</a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav BardiyaFont">
                <li><a class="active" href="{% url 'exam:home' %}">پیشخوان </a></li>
                <li><a class="" href="{% url 'login' %}">ورود </a></li>
                <li><a class="" href="{% url 'register' %}">ثبت نام </a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="space"></div>
{% if validation_error %}
    <div class="container validation_error form-group center-block alert-danger" style="display: none;">
        {% for  a, b in validation_error.message_dict.items %}
            <ul class="has-error"><b>{% trans a %} </b>
                {% for msg in b %}
                    <li class="has-error">{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endif %}
{% if error_message %}
    <div class="container error_message form-group center-block alert-danger" style="display: none;">
        {% trans error_message %}
    </div>
{% endif %}
{% if message %}
    <div class="has-success alert-info container message" style="display: none;">
        {{ message }}
    </div>
{% endif %}

<div class="container content">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static "js/jquery-1.11.0.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        {% if validation_error %}
            $('.validation_error').fadeIn('slow');
        {%  endif %}
        {% if error_message %}
            $('.error_message').fadeIn('slow');
        {% endif %}
        {% if message %}
            $('.message').fadeIn('slow');
            {% if redirect_url %}
                setTimeout(function () {
                            window.location = '{{ redirect_url }}';
                        }
                        , 1500);
            {% endif %}
        {% endif %}
    })
</script>
{% block js %}
{% endblock %}

</body>